<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>당신이 좋아하는 사람들</title>
</head>

<body>

<main layout:fragment="main">
    <th:block th:unless="${@rq.member.hasConnectedInstaMember}">
        <div>먼저 본인의 인스타그램 아이디를 입력해주세요.</div>

        <div>
            <a href="/instaMember/connect" class="btn btn-link">본인의 인스타그램 아이디 입력하기</a>
        </div>
    </th:block>

    <th:block th:if="${@rq.member.hasConnectedInstaMember}">
        <div class="overflow-x-auto max-w-2xl mx-auto">
        <table class="table w-full">
        <thead class="text-center bg-purple-100">
        <tr>
            <th>인스타계정</th>
            <th>매력</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody class="text-center ">
            <tr th:each="likeablePerson: ${likeablePeople}">
            <td> <span class="toInstaMember_username" th:text="${likeablePerson.toInstaMember.username}"></span></td>
            <td> <span class="toInstaMember_attractiveTypeDisplayName" th:text="${likeablePerson.attractiveTypeDisplayName}"></span></td>
            <td> <a class="btn btn-secondary"  th:if="${@rq.getMember().getInstaMember().getUsername()==likeablePerson.getFromInstaMember().getUsername()}" th:href="@{|delete/${likeablePerson.id}|}" onclick="return confirm('정말로 삭제하시겠습니까?');">삭제</a></td>
            </tr>
        </tbody>
        </table>
        </div>
    </th:block>
</main>
</body>

</html>

